#*
 * Copyright (C) 2014 the original author or authors (none)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
package ${basePackage};
import fr.vberetti.cassandra.metamodel.impl.ColumnMetamodelImpl;
import fr.vberetti.cassandra.metamodel.ColumnMetamodel;
import fr.vberetti.cassandra.metamodel.impl.IdxColumnMetamodelImpl;
import fr.vberetti.cassandra.metamodel.IdxColumnMetamodel;

/**
 * Generated with Cassandra Metamodel<br/>
 * https://github.com/vberetti/cassandra-metamodel
 */
#set($className = $TemplateUtil.normalizeUpper($table.name) )
public class ${className}_ {

    public static final String TABLE_NAME="${table.name}";
	
#foreach( $column in $table.columns )
#set($columnName = $TemplateUtil.normalizeLower($column.name) )
#if(${table.primaryKey.contains($column)} || ${column.index})
    public static final IdxColumnMetamodel<${column.type.name.asJavaClass().name}> ${columnName} = 
        new IdxColumnMetamodelImpl<${column.type.name.asJavaClass().name}>("${column.name}");
#else
    public static final ColumnMetamodel<${column.type.name.asJavaClass().name}> ${columnName} = 
        new ColumnMetamodelImpl<${column.type.name.asJavaClass().name}>("${column.name}");
#end
#end
}